
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
       <form action="/addstudent"  >
   <h3>ADD STUDENT</h3>
   
    <hr>

    <label for="name"><b>Student name</b></label>
    <input type="text" placeholder="Enter Name" name="name" id="name" required>

    <label for="phn"><b>Phone no</b></label>
    <input type="phone" placeholder="Enter Phone Number" name="phone" id="phone" required>

    <label for="eml-id"><b>Email Id</b></label>
    <input type="email" placeholder="Enter Email Id" name="email" id="email" required>
   
  <div class="gender_g">
     <strong>Gender</strong>
     <input type="radio" name="gender" id="" value="Male"> Male
     <input type="radio" name="gender" id=""  value="Female">  Female
  </div>
    <button type="submit" class="registerbtn">ADD STUDENT</button>

  
    <a href="./" style="color:black">BACK TO HOME PAGE</a> <br>
     
     {{#if mesg}}
     <h3>Data Inserted</h3>
     {{/if}}

      {{#if checkmesg}}
     <h3>Emailid or Phoneno already present!</h3>
     {{/if}}
</form>
</div>
</body>
</html>